#top {
  background: url("../../assets/img/banner8.png") top / cover no-repeat;
  height: 100vh;
  width: auto;
  padding-bottom: 0px;
}

@media (max-width: 600px) {
  #top {
    background: url("../../assets/img/banner8.png") top / contain no-repeat;
    height: 100vh;
    width: auto;
    padding-bottom: 0px;
    padding-top: 25px;
  }
}

